<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Article Management </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="mycss/mystyle.css">
<style>
    span{
    color: red;
    }
    body{
      font-family:  Battambang,Arial,Helvetica,sans-serif;
    }
   .myfont{
   font-size: 20px;
   color:white;
   }
</style>
</head>
<body>
 <div th:replace="fragments/header :: header"></div>
   <div class="container">
		  <h2><a class="btn btn-primary " href="/article" ><span th:text="#{back}" class="glyphicon glyphicon-menu-left myfont"></span></a></h2>
		  <form th:action=" ${formAdd}? '/add' : '/update' " method="Post" enctype="multipart/form-data">
		    <div class="form-group">
		      <!--  <label for="id" th:text="#{id}">ID:</label>  -->
		    <input type="hidden" th:field="${article.id}" class="form-control"   placeholder="input id"><span th:if="${#fields.hasErrors('article.id')}" class="text-danger">ID can't blank </span>
		    </div>
		    
		    <div class="form-group">
		      <label for="pwd" th:text="#{name}">Name:</label>
		      <input type="text" th:field="${article.name}" class="form-control"   placeholder="input name"><span th:if="${#fields.hasErrors('article.name')}" class="text-danger">Name can't blank </span>
		    </div>
		    <div class="form-group">
			  <label for="sel1">Category:</label>
			  <select class="form-control"  th:field="${article.category.id}">
			    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
			  </select>
			</div>
		     <div class="form-group">
		      <label for="id" th:text="#{discription}">Discription:</label>
		      <input type="text" th:field="${article.description}"  class="form-control" placeholder="input discription"><span th:if="${#fields.hasErrors('article.description')}" class="text-danger">Description can't blank </span>
		    </div>
		    
		     <div class="form-group">
		      <label for="id" th:text="#{author}">Author:</label>
		     <input type="text" th:field="${article.authur}" class="form-control"  placeholder="input author"><span th:if="${#fields.hasErrors('article.authur')}" class="text-danger">Authur can't blank </span>
		    </div>
		    <div class="form-group">
		      <label for="id">Image:</label>
		     <input type="file" name="picture" class="form-control" accept="image/*"> 
		    </div>
		    <div class="form-group" >
		       <button type="submit" class="btn btn-primary btn-lg" ><span th:text="${formAdd}?'Save': #{update}" class="glyphicon glyphicon-saved myfont" ></span></button>
		    </div>
		   
		   
		  </form>
    </div>
   <div th:replace="fragments/footer :: footer"></div>
   
   <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
 </body>
 </html>