<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<meta charset="ISO-8859-1"/>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <!-- mytable -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css">
   <!-- mytable -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="mycss/mystyle.css">
 
<head>

<title>Article Management </title>
<style>
   table,th,tr,td{	   
	   border-collapse: collapse;	
	   border: none;  
   }
   th{
	    text-align: center;
	    background-color:#b3cccc;
   }
   s
     
    body{
      font-family:  Battambang,Arial,Helvetica,sans-serif;
    }
    .img{
	    height: 100px;
	    width: 150px;
     }
   .mymagin{
	   margin-top: -10px;
	   margin-bottom: 10px;
	   margin-left: 10px;
   }
</style>

</head>
<body>
 <div th:replace="fragments/header :: header"></div>
   <div class="container-fluid">
      <a href="/add"  class="btn btn-success btn-lg mymagin" >
        <span class="glyphicon glyphicon-plus-sign " th:text="#{add}" > </span>
      </a>
     <table class="display nowrap table-striped" id="myTable" > 
      <thead class="text-center">
        <tr>
          <th class="text-center" th:text="#{id}">ID</th>
          <th th:text="#{name}">Name</th>
          <th>Category</th>
          <th th:text="#{discription}">Description</th>
          <th th:text="#{author}">Author</th>
          <th th:text="#{date}">DateTime</th>
          <th th:text="#{picture}">Picture</th>
          <th th:text="#{action}">Action</th>
        </tr>
        </thead>
      <tbody>
        <tr th:each="article:${articles}" th:object="${article}">
          <td th:text="*{id}"></td>
          <td th:text="*{name}"></td>
          <td th:text="*{category.name}"> </td>
          <td th:text="*{description}"></td>
          <td th:text="*{authur}"></td>
          <td th:text="*{createdDate}"></td>
          <td><img th:src="*{image}" class="img" >  </td>
          <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=*{id})}"><span class="glyphicon glyphicon-trash"> </span></a>
             <a class="btn btn-success" th:href="@{/update/{id}(id=*{id})}" ><span class="glyphicon glyphicon-edit"> </span></a>
              <a class="btn btn-primary" ><span class="glyphicon glyphicon-eye-open"> </span></a>
          </td>  
        </tr>
       </tbody>
    </table>
   </div>
   <div th:replace="fragments/footer :: footer"></div>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <!-- mytable -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
  
   <script type="text/javascript">
        $(document).ready(function() {
           $('#myTable').DataTable( {
              
           });
       });
   </script>
 </body>
 </html>