 <nav class="navbar navbar-inverse" th:fragment="header">
	  <div class="container-fluid">
	    <ul class="nav navbar-nav">
	     <li class="dropdown">
	        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Language
	        <span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a href="?lang=en">English</a></li>
	          <li><a href="?lang=kh">Khmer</a></li>
	          <li><a href="#">Korean</a></li>
	        </ul>
     	 </li>
	      <li><a href="#">Manager</a></li>
	      <li><a href="#">Department</a></li>
	      <li><a href="#">StateOffice</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-center">
	     <li><i   th:text="#{article}">Article Management</i><li>
	    </ul>
		 <ul class="nav navbar-nav navbar-right">
	      <li><a href="#"><span class="glyphicon glyphicon-user"></span>  Sign Up</a></li>
	      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
	    </ul>
	  </div>
	</nav>