@charset "ISO-8859-1";
  i{
	  margin-left: 120px;
	  font-size: 30px;
      color:white;
   }
   .img{
      width:100px;
      height:70px;
   }
    nav{
    font-size: 20px;
    }
 h3{
    text-align: center;
    margin-bottom: 16px;
    font-weight: bold;
}
.mybg-color{
    background-color: #f0f0f0;
    font-family: 'Khmer OS Battambang', 'Roboto';
    font-weight: 400;
    font-size: 16px;
}
 h4 {
    text-align: center;
    margin-bottom: 14px;
    font-weight: bold;
    color: #be3030;
}
.mybg-color{
    font-family: 'Khmer OS Battambang', 'Roboto';
    font-weight: 400;
    font-size: 16px;
    background-color: #fafaf6;
     
}
#myTable{
    margin-top: 190px;
    margin-bottom: 20px;
}
.paginate_button {
    background-color:#00204a;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 3px;
    margin-bottom:20px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color:white !important;
    border: 1px solid transparent;
    border-radius:20px;
}
.dataTables_info{
    color: blue;
    font-weight: 400;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 0px;
    text-align: center;
  }
input[type=search] {
    background-color:#ecf0f1;
    padding:5px 5px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid seagreen;
    border-radius: 50px;
    outline: 0px;
    color: black;
} 
 .dataTables_info{
     font-size: 18px;
 }
 .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: blue;sss
    
  }
  table,th,tr,td{
		   border: 1px solid black;
		   border-collapse: collapse;
   }
   
    input[type="button"]{
       //margin-bottom: 10px;
    }
    body{
      font-family:  Battambang,Arial,Helvetica,sans-serif;
    }
    .img{
    height: 100px;
    width: 150px;
     }
   .mymagin{
   margin-top: -10px;
   margin-bottom: 10px;
   margin-left: 10px;
   }