.img{
	width:100px;
	height:100px;
}
h2 {
    text-align: center;
    margin-bottom: 14px;
    font-weight: bold;
    color: #252525;
}
.mybg-color{
    font-family: 'Khmer OS Battambang', 'Roboto';
    font-weight: 400;
    font-size: 16px;
    background-color: #fcfcf0;
     
}
#myTable{
    margin-top: 190px;
    margin-bottom: 20px;
}
.paginate_button {
    background-color:#9951ff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color:white !important;
    border: 1px solid transparent;
    border-radius:20px;
}
.dataTables_info{
    color: blue;
    font-weight: 400;
}
input[type=search] {
    background-color:#ecf0f1;
    padding:5px 5px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid seagreen;
    border-radius: 50px;
    outline: 0px;
    color: black;
} 
 .dataTables_info{
     font-size: 18px;
 }
 .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
   
  }
  .form-inline {
      display: none;
  }