<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layoutfragment">
<head>
 
</head>
<body>
 <div class="container-fluid" layout:fragment="content">
   <div class="container">
		  <!-- Material form register -->
			<form method="POST" th:action="${formAdd}? '/addCategory':'/updateCategory'">
			   <p class="h4 text-center mt-3 mb-4">----- ADD CATEGORY -----</p>
			     
			    <div class="md-form">
			        <input type="hidden" th:field="${category.id}"  id="materialFormRegisterPasswordEx" class="form-control">
			        <label for="materialFormRegisterPasswordEx"> </label>
			    </div>
			    
			    <div class="md-form">
			        <input th:field="${category.name}" type="text" id="materialFormRegisterPasswordEx" placeholder=" categoryName" class="form-control">
			        <label for="materialFormRegisterPasswordEx"></label>
			    </div>
			
			    <div class="text-left mt-4">
			        <button th:text="${formAdd}?'Save':'update'" class="btn btn-success" type="submit"></button>
			    </div>
			</form>
			
			<!-- Table -->
			
			<div class="table-responsive">
		  <table class="table">
		    <thead>
		      <tr>
		        <th scope="col">ID</th>
		        <th scope="col">CategoryName</th>
		        <th scope="col">Actions</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="category: ${categories}" th:object="${category}">
		        <td th:text="*{id}"></td>
		        <td th:text="*{name}"></td>
		        <td> 
		           <a th:href="@{/deleteCategory/{id}(id=*{id})}" class="btn btn-sm btn-success">Delete</a>
                   <a th:href="@{/updateCategory/{id}(id=*{id})}"  class="btn btn-sm btn-default">Update</a>
		        </td>
		      </tr>
		    </tbody>
		  </table>
		</div>
      </div>
    </div>
 </body>
 </html>