<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/layoutfragment">
<head>
<link rel="stylesheet" type="text/css" href="mycss/mystyle.css">
</head>
<body>
 <div class="container-fluid" layout:fragment="content">
   <div class="container">
		  <h2><a class="btn btn-primary " href="/article" ><span th:text="#{back}" class="glyphicon glyphicon-menu-left myfont"></span></a></h2>
		  <form th:action=" ${formAdd}? '/add' : '/update' " method="Post" enctype="multipart/form-data">
		    <div class="md-form">
		      <!--  <label for="id" th:text="#{id}">ID:</label>  -->
		    <input type="hidden" th:field="${article.id}" class="form-control"   placeholder="input id"><span th:if="${#fields.hasErrors('article.id')}" class="text-danger">ID can't blank </span>
		    </div>
		    
		    <div class="md-form">
		      <!-- <label for="pwd" th:text="#{name}">Name:</label> -->
		      <input type="text" id="materialFormLoginEmailEx" th:field="${article.name}" class="form-control"  ><span th:if="${#fields.hasErrors('article.name')}" class="text-danger">Name can't blank </span>
		      <label for="materialFormLoginEmailEx"></label>
		    </div>
		    <div class="md-form">
			   
			  <select class="form-control" th:field="${article.category.id}">
			    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
			  </select>
			   <label for="materialFormLoginEmailEx"></label>
			</div>
		     <div class="md-form">
		      <!-- <label for="id"  th:text="#{discription}">Discription:</label> -->
		      <input type="text" id="materialFormLoginEmailEx" th:field="${article.description}"  class="form-control" ><span th:if="${#fields.hasErrors('article.description')}" class="text-danger">Description can't blank </span>
		       <label for="materialFormLoginEmailEx"></label>
		    </div>
		    
		     <div class="md-form">
		      <!-- <label for="id" th:text="#{author}">Author:</label> -->
		      <input type="text" id="materialFormLoginEmailEx"  th:field="${article.authur}" class="form-control"><span th:if="${#fields.hasErrors('article.authur')}" class="text-danger">Authur can't blank </span>
		       <label for="materialFormLoginEmailEx"></label>
		    </div>
		    <div class="md-form">
		      <!-- <label for="id">Image:</label> -->
		       <input type="file"  name="picture"   class="form-control" accept="image/*"> 
		       <label for="materialFormLoginEmailEx"></label>
		    </div>
		    <div class="md-form" >
		       <button type="submit" class="btn btn-primary btn-lg" ><span th:text="${formAdd}?'Save': #{update}" class="glyphicon glyphicon-saved myfont" ></span></button>
		    </div>  		   
		  </form>
      </div>
    </div>
 </body>
 </html>