<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layoutfragment">
       
<head>
<title>Article Management </title>

<style> 
    .img{
	    height: 100px;
	    width: 150px;
     }  
</style>

</head>
<body>
   <div layout:fragment="content"> 
   <a class="btn btn-success" href="/add" th:text="#{add}"> </a>
   <a class="btn btn-primary" th:text="#{acategory}" th:href="@{/category}"> </a>
    <div class="table-responsive">
     <table id="example" class="table"> 
      <thead class="text-center unique-color-dark white-text" >
        <tr>
          <th class="text-center" th:text="#{id}">ID</th>
          <th th:text="#{name}">Name</th>
          <th>Category</th>
          <th th:text="#{discription}">Description</th>
          <th th:text="#{author}">Author</th>
          <th th:text="#{date}">DateTime</th>
          <th th:text="#{picture}">Picture</th>
          <th th:text="#{action}">Action</th>
        </tr>
       </thead>
      <tbody>
        <tr th:each="article:${articles}" th:object="${article}">
          <td th:text="*{id}"></td>
          <td th:text="*{name}"></td>
          <td th:text="*{category.name}"> </td>
          <td th:text="*{description}"></td>
          <td th:text="*{authur}"></td>
          <td th:text="*{createdDate}"></td>
          <td><img th:src="*{image}" class="img"></td>
          <td> 
              
              <a class="btn btn-sm btn-success"  th:href="@{/delete/{id}(id=*{id})}">Delete</a>
              <a class="btn btn-sm btn-default" th:text="#{update}"​​​ th:href="@{/update/{id}(id=*{id})}"> </a>
          </td>  
        </tr>
       </tbody>
    </table>
   </div>
   </div>
 </body>
 </html>