<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>File Upload SR</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="mycss/mystyle.css">
<style>
     body{
       font-family:  Battambang,Arial,Helvetica,sans-serif;
    }
</style>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
	    <h1 ><a class="btn btn-primary btn-lg " href="/article" th:text="#{back}">Back to ArticleManagement</a></h1>
	<div class="container">
	  <form action="/upload" method="Post" enctype="multipart/form-data">
	    <div class="form-group">
	      <label for="file">File:</label>
	      <input type="file" class="form-control" multiple="multiple" name="file" placeholder="Enter file">
	    </div>
	
	    <button type="submit" class="btn btn-primary">SaveFile</button>
	  </form>
	</div>
   <div th:replace="fragments/footer :: footer"></div>
   
   <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
</body>
</html>